#root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  text-align: center;
  padding: 1.5rem;
  color: black;
  background-color: hsla(0, 92%, 45%, 0.392)
}

.input-box {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

.btn {
  margin-left: 1rem;
}

.items {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;

  button {
    margin-left: 1rem;
  }

}